{% extends './layout.html' %}
{% block title %}RutaSegura{% endblock %}
{% block body %}
        <div class="header-container">
            <header class="header">
                <a href="/"><h1>RutaSegura</h1></a>
                <nav class="nav">
                    <div class="menu-toggle" id="mobile-menu">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                      </div>
                    <ul class="list mobile-menu">
                        <li class="items"><a href="/">Inicio</a></li>
                        <li id="routecom"class="items"><a href="/map">Rutas</a></li>
                        <li class="items"><a href="">Comunidad</a></li>
                        <li class="items div"><div>|</div></li>
                        {% if session %}
                            <li class="items"><p id="name_user"> {{session['user']['nombre']}}</p></li>
                            <li class="items close" id="btn-close"><a href="/cerrar">Salir</a></li>
                        {% else %}
                        <button id="sigup" class="items btn">Sign Up</button>
                        <button id="signin" class="items btn">Sign In</button>
                        {% endif %}
                    </ul>
                </nav>
            </header>
        </div>

        <div class="container-comunidad">
                <div class="header-new">
                    <h2>Comunidad</h2>
                </div>
                <hr>
                <div class="messages-container">
                    {% if datos %}
                        {% for dato in datos[::-1] %}
                            <div class="box-message">
                                <p>@{{ dato[1] }}</p>
                                {% if session['user']['id'] == dato[2] %}
                                <div class="header-message">
                                    <p>@{{ dato[1] }}</p>
                                    <a href="/deletepublicacion/{{ dato[0].id_publicaciones}}"><img src="../static/Multimedia/borrar (1).png"  alt="delete" width="28px" height="28px"></a>
                                </div>
                                {% endif %}
                                <p>{{ dato[0].mensaje }}</p>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>No hay datos en la base de datos.</p>
                    {% endif %}
                </div>
                <hr>
                <form action="/publicar"  method="POST">
                    <div class="input-container">
                        <input id="messageInput" type="message" placeholder="type here" name="message">
                        <button type="submit">Enviar</button>
                    </div>
                </form>
        </div>

        
{% endblock %}
