{% extends './layout.html' %}
{% block title %}RutaSegura{% endblock %}
{% block header %}
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.1/mapbox-gl-directions.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.1/mapbox-gl-directions.css" type="text/css">        
        <div class="header-container">
            <header class="header">
                <a href="/"><h1>RutaSegura</h1></a>
                <nav class="nav">
                    <div class="menu-toggle" id="mobile-menu">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                      </div>
                    <ul class="list mobile-menu">
                        <li class="items"><a href="/">Inicio</a></li>
                        <li id="route"class="items"><a href="">Rutas
                            <div class="dropdown">
                                <a href="" id="propuesta">Proponer ruta</a>
                                <a href="/Vista" id="vista">Visualizar rutas</a>
                            </div>
                        </a></li>
                        <li class="items"><a href="/comunidad">Comunidad</a></li>
                        <li class="items div"><div>|</div></li>
                        {% if Usuario %}
                            <li class="items"><p id="name_user">{{Usuario}}</p></li>
                            <li class="items close" id="btn-close"><a href="/cerrar">Salir</a></li>
                        {% else %}
                        <button id="sigup" class="items btn">Sign Up</button>
                        <button id="signin" class="items btn">Sign In</button>
                        {% endif %}
                    </ul>
                </nav>
            </header>
        </div>
        
{% endblock %}

{% block body %}

        <div id='map' style='width: 100%; height: 100vh;'></div>
            <script>
              mapboxgl.accessToken = 'pk.eyJ1IjoibWF1cm8wOCIsImEiOiJjbG5yb2t6a2gwdGI5Mnpud3llaWczYjRpIn0.Tws5fCUS6WHs_-1ECbnCjA';
              var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v11',
                zoom: 14,
                center: [-74.787977,10.988829]
              });

              
              map.addControl(new mapboxgl.NavigationControl());
              map.addControl(new MapboxDirections({ accessToken: mapboxgl.accessToken}),'top-left')
            </script>
            
{% endblock %}
