{% extends './layout.html' %}
{% block title %}RutaSegura{% endblock %}
{% block body %}
        <div class="header-container">
            <header class="header">
                <a href="homepage.html"><h1>RutaSegura</h1></a>
                <nav class="nav">
                    <div class="menu-toggle" id="mobile-menu">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                      </div>
                    <ul class="list mobile-menu">
                        <li class="items"><a href="/">Inicio</a></li>
                        <li class="items"><a href="alertas.html">Alertas</a></li>
                        <li class="items"><a href="comunidad.html">Comunidad</a></li>
                        <li class="items div"><div>|</div></li>
                        <button id="sigup" class="items btn">Sign Up</button>
                        <button id="signin" class="items btn">Sign In</button>
                    </ul>
                </nav>
            </header>
        </div>

        <div class="banner">
            <div class="items">
                <img src="../static/Multimedia/roadmachine_01_one_gry_blk_wht_1.png" alt="">
            </div>

            <div class="items">
                <h2>EXPLORA, <br> CONECTA, <br> <span style="color: #5DB7DE;">PEDALEA!</span></h2>
                <button id="ruta">Enrutarse</button>
            </div>
        </div>
    
        <div class="inf">
            <div class="items"><h2>Explora rutas <br> seguras</h2></div>
            <div class="items">
                <img src="../static/Multimedia/cycling-(1)_1626267160641.png" alt="">
            </div>
        </div>

        <aside>
            <div class="aside-on">
                <p><span style="font-weight: 800;color: #5DB7DE;" >RutaSegura </span>es tu compañero confiable para explorar el mundo en bicicleta.
                    Nuestra plataforma te brinda rutas seguras y emocionantes diseñadas 
                    exclusivamente para ciclistas.</p>
            </div>
        </aside>
    
        <footer>
            <p>RutaSegura</p>
        </footer>
{% endblock %}
