#map {
    height: 500px;
    width: 100%;
    z-index: -1;
}

/* styles.css */

.dropdown {
    display: none;
    position: absolute;
    background-color: #5DB7DE;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: 1s;
    padding: 10px;
    width: 200px;
    border-radius: 10px;
}

#route:hover .dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 99;
}

#route .dropdown a {
    width: 100%;
    padding: 2px 0;
}

#route .dropdown a:last-child {
    border-top: 1px solid #a19d9d;
}

#route .dropdown a:hover {
    text-decoration: none;
    color: white;
    transition: 1s;
}